

 




@main("Welcome to Vent, the Annonymous Comment Hub") {
<h3> Welcome to Vent, the Anonymous Comment Hub</h3>

<dl>
<dt>
Why Anonymous?
</dt>
<dd>
Over the years, the political environment has changed.
Sometimes we want to express our opinion, but in face of retaliation, bullying, ridicule, etc., we hesitate. 
This site offers a platform of true freedom of speech, where nobody can find out who you are, even the administrators of this site.
</dd>
</dl>

<dl>
<dt>
No identity tracking
</dt>
<dd>
This site does not require login, does not track your email address, your ip address or any of your identity information
</dd>
</dl>
   
    
}



