

 




@main("Beegrove, the Annonymous Comment Hub") {
<div class=about>
	<h3>Welcome to Beegrove, the Anonymous Comment Hub</h3>

	<dl>
		<dt>
			Why Anonymous?
		</dt>
		<dd>
			Over the years, the political environment has changed.
			Sometimes when we want to express our opinion, we hesitate in face of retaliation, bullying, ridicule, etc.. 
			This site offers a platform of true freedom of speech, where nobody can find out who you are, even the administrators of this site.
			<p/>
		</dd>
		<dt>
			No identity tracking
		</dt>
		<dd>
			This site does not require login, does not track your email address, your ip address or any of your identity information
			<p/>
		</dd>

		<dt>
			Thoughtful Comments
		</dt>
		<dd>
			This site encourages thoughtful and constructive comments. Any comments with curse words are subject to removal. Repeat abusers will be blocked from using the site, temporarily or permanently. 
			<p/>
		</dd>
	</dl>

	<h3>Contact Us</h3>

	Please send email to: <br/>
	<dl>
		<dd>
 			info @@ beegrove.com if have any general questions
 		</dd>
 		<dd>
	 		legal @@ beegrove.com if you find any copy right infringement or any legal issues
	 	</dd>
	 	<dd>
 			volunteer @@ beegrove.com if you want to join a team of volunteers to moderate the web site
 		</dd>  
 
	</dl>
</div>   
    
}



