@* terms Template File *@

@main("Beegrove Terms and Conditions") {
<div class=terms>
<p/>
Terms of Use<p/>
2017.01.15<p/>
<p/>
Please read these terms and conditions of use for the website beegrove.com and its services (“the Website”). 
By using the Website you (“You”) expressly agree to accept the following terms and conditions of use, including the website privacy notice and any additional guidelines (collectively, the “Terms”). 
Visitors and users of the Website are referred to individually as “User” and collectively as “Users”.<p/>
<p/>
The Website may modify the Terms at any time and thus we recommended that the Terms are reviewed on a regular basis by the User. 
The date at the beginning of these Terms refers to the latest update of these Terms, which will be applicable from the date of publication.
Your use of the Website is subject to the most current version of the Terms posted on the site at the time of such use.

<dl>
<dt>
Purpose of Website. 
</dt>
<dd>
Through the Website, the User can post comments on political matters completely anonymously. The Website is intended to be a place for your comments. 
We are not responsible for any decisions you make based on something you read on the Website or on links posted on the Website.
<p/></dd>

<dt>Privacy Notice. 
</dt>
<dd>Your privacy is important to the Website. Please read the following Privacy Notice, hereby incorporated into the Terms, carefully for information relating to the Website’s collection, use, 
and disclosure of Your personal information.
<p/></dd>
<dt>Not a Marketplace. </dt>
<dd>The Website is not intended to be a marketplace for any goods or services. However, you may find commercial links, coupons, deals, advertisements and other third-party offers on the Website. 
The Website is not a party to, nor in any way responsible for, any transactions you have with these third parties, even if the Website has an affiliate relationship with such parties. 
For this reason, any transactions you undertake are your responsibility alone, so be careful.
You may not use the Website to conduct transactions for any illegal goods or services.
<p/></dd>
<dt>
Ownership of Material on the Website.</dt>
<dd>The Materials on the Website are owned by the Website, and their licensors and suppliers. They are copyrighted and protected by the United States, and international intellectual property laws, 
treaties and conventions. You may not copy, adapt, reverse engineer, modify, display, perform, transmit, frame, distribute, resell, commercially exploit or otherwise use the Materials in any manner whatsoever, 
except as expressly permitted herein, without the prior written permission of the relevant rights holder(s).
<p/></dd>

<dd>
The trademarks and/or service marks used on the Website are the property of their respective owners. You may not use any trademark displayed on the Site without the written permission of website, or the respective owner.
<p/></dd>
<dd>
Your use of the Site is conditional upon your abiding by all notices of copyright, trademark and other proprietary rights appearing in the Materials. You are forbidden from removing or altering any such notices in full or in part from Materials that you print or download.
<p/></dd>


<dt>Third Parties.</dt>
<dd>This Website contains references and links to content, products, services or other offerings of third parties ("Third Parties") 
solely as a convenience to Users. Such references and links do not constitute or imply an endorsement or recommendation by website or of any such Third Party 
and in no way should be interpreted as an acceptance of responsibility or liability for Third Parties. 
You expressly acknowledge and agree that Wordplay shall have no liability of any kind for any content, products, services or other offerings made available by Third Parties.
<p/></dd>

<dt>Applicable Laws. 
</dt>
<dd>By accessing the Website you agree that the laws of the State of Illinois and the federal laws of the United States applicable therein, will apply to all 
matters arising out of or in connection with Your access and use of the Website. You also agree to submit to the exclusive personal jurisdiction and 
venue of the courts of the State of Illinois with respect to such matters.
<p/></dd>
<dt>
Severability
</dt>
<dd>
If any provision of the Terms and Conditions of Use is found to be unlawful, void or unenforceable, then such provision is deemed severable and will not affect the validity or enforceability of any of the remaining provisions.
<p/></dd>
<dt>
Indemnity
</dt>
<dd>
You will indemnify and hold us (including our affiliates and subsidiaries, as well as our and their respective officers, directors, employees, agents) harmless from any claim or demand, 
including reasonable legal fees, made by any third party due to or arising out of your breach of this Agreement, your improper use of the Website or your breach of any law or the rights of a third party.
<p/></dd>
</dl>
<p/>
<p/>
<p/>

Privacy Notice<p/>
2017.01.15<p/>

Website (“Website”, “us”, or “we”) feels strongly about protecting your privacy. 
We understand how important privacy is to you, and we are committed to creating a safe and secure environment for learners of all ages. 
This Privacy Notice applies to the Website. This Privacy Notice describes how the Website collects and uses the information you provide on the Website and describes the choices available to you 
regarding our use of your personal information.<p/>

Your use of the Website and any information you provide on the Website are subject to the terms of this Privacy Notice, 
which is incorporated into and subject to our Terms of Service. Any capitalized terms used but not defined within this Privacy Notice have the meaning given to them in our Terms of Use.
<p/>
<dl>
<dt>
Data Retention.</dt>
<dd>We never retain your information as the Website is an anonymous commentary site.
<p/></dd>
<dt>
Children Under 13.
</dt>
<dd>Although we welcome users from all walks of life, the Website is not intended or directed at individuals under the age of 13. Therefore, individuals under the age of 13 may not use the Website.
<p/></dd>

<dt>Log and Usage Data. 
</dt>
<dd>The Website does not log any information when you access and use the Website. This includes your name, your email address, your IP address, user-agent string, browser type, operating system, referral URLs, 
device information (e.g., device IDs), pages visited, links clicked, user interactions (e.g., voting data), the requested URL, hardware settings, and search terms.
<p/></dd>

<dt>Changes. 
</dt>
<dd>We may change this Privacy Notice from time to time. If we do, we will let you know by revising the date at the top of the notice. 
We encourage you to review the Privacy Notice whenever you access or use the Website or otherwise interact with us to stay informed about our information practices
 and the ways you can help protect your privacy. If you continue to use the Website after Privacy Notice changes go into effect, you consent to the revised notice.
<p/></dd>

</dl>
</div>
}